
{% extends 'base.html' %}

{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="{% static 'css/registration.css' %}" rel="stylesheet" >
</head>
<body>
	
	<div class="login_container">
		<div id="main">
			<form method="POST">
				{% csrf_token %}
				<h1>Sign In</h1>
				{% if messages %}
				{% for message in messages %}
				<h2>{{message}}</h2>
				{% endfor %}
				{% endif %}
				<input type="text" name ="username" placeholder="Username">
				<input type="password" name="password"placeholder="Password">
				<button id="submit">Login</button>
				<p><span>Don't have an account</span></p>
				<button id="signUp_btn"><a href= "register" >Sign up</a></button>
			<form>
		</div>		
	</div>
</body>
</html>

{% endblock %}		