{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
    <link href="{% static 'css/registration.css' %}" rel="stylesheet" >
</head>
<body>
	<div class="login_container">
        <div id="create-account">
            <form method="post">
                {% csrf_token %}
                <h1>Sign Up below</h1>
                <input name="email" type="email" placeholder="Email">
                <input name="username" type="text" placeholder="username">
                <input name="password1" type="password" placeholder="Password">
                <input name="password2" type="password" placeholder="Confirm Password">
                <button id="Register_btn" type="submit">Sign Up</button>
                <button id="signUp_btn"><a href="login">Already have an account</a></button>
            </form>
        </div>
        
    </div>
</body>
</html>