.login_container {
    background-color: whitesmoke;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 30vw;
    margin: auto;
    height: 75vh;
    margin-top: 5vh;
}
h1 {
    margin-bottom: 7%;
    text-align: center;
    font-family: "Fredoka One", cursive;
    color: #010103;
    letter-spacing: 0.1rem;
}
h2{
    color: red;
    font-size: 1.2rem;
    font-family: sans-serif;
}

p {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid#333;
    line-height: 0.1rem;
}

p span {
    background: white;
    padding: 0 10px;
}

input {
    margin-bottom: 3%;
    width: 300px;
}

input:last-of-type {
    margin-bottom: 0;
}

input,
button {
    padding: 3%;
}
button{
    width: 300px;
}

#submit,
#Register_btn {
    background: rgb(4, 5, 39);
    color: white;
    border: none;
    margin-top: 5%;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
}

#signUp_btn {
    border: none; 
    background:none;
}


#return_btn {
    background: none;
    color: grey;
    text-decoration: underline;
    border: none;
    margin-top: 3%;
}