:root {
    --main-color: hsl(202, 92%, 47%);
    --black: #13131a;
    --bg: green;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: .2s linear;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

section {
    padding: 1rem 2%;
}

button,
.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    letter-spacing: .2rem;
    background-color: lightgreen;
    color: black;
    font-weight: bold;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(/static/images/bg-landing-page.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
}

.home .content {
    max-width: 50rem;
    flex: 1 1 45rem;
    margin-right: 20px;
}

.home .content h1 {
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--main-color);
}

.home .content h2 {
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--main-color);
}

.home .content p {
    font-size: 1.3rem;
    font-weight: lighter;
    line-height: 1.3;
    padding: 1rem 0;
    color: #fff;
}

.home .form {
    flex: 1 1 45rem;
    background-color: rgba(210, 210, 210, 0.6);
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 35vh;
    margin: auto;
    height: 80vh;
    margin-top: 15vh;
    border-radius: 1.5rem;
}

.home .form h2 {
    text-align: center;
    font-weight: bold;
}

.home .form form {
    background-color: rgba(210, 210, 210, 0.4);
    font-weight: bold;
}

.home .login_container h1 {
    font-size: 2rem;
    margin-bottom: 6%;
    text-align: center;
    font-family: "Fredoka One", cursive;
    color: var(--black);
    letter-spacing: 0.1rem;
}

.home .login_container p {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid#333;
    line-height: 0.1rem;
}

.home .login_container p span {
    background: white;
    padding: 0 10px;
}

.home .login_container input {
    margin-bottom: 3%;
}

.home .login_container input:last-of-type {
    margin-bottom: 0;
}

.home .login_container input,
button {
    padding: 3%;
    width: 100%;
}

.home .login_container button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
}

.home .login_container #submit,
#Register_btn {
    background-color: var(--main-color);
    color: white;
    border: none;
    margin-top: 5%;
}

.home .login_container #signUp_btn {
    border: none;
}

.home .login_container #create-account {
    display: none;
}

.home .login_container #return_btn {
    background: none;
    color: #fff;
    text-decoration: underline;
    border: none;
    margin-top: 3%;
}

@media(max-width:991px) {
    html {
        font-size: 55%;
    }
    section {
        padding: 2rem;
    }
}

@media(max-width:768px) {
    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3 {
        font-size: 4.5rem;
    }
    .home .content p {
        font-size: 1.5rem;
    }
    .home .content {
        margin-top: 20%;
    }
}

@media(max-width: 450px) {
    html {
        font-size: 50%;
    }
    .home .content {
        margin-top: 26%;
    }
}