<div class="flex-row section-2 my-4 theme-color-blue-secondary text-white pt-5 pb-5 boder-img">
								<div class="d-flex flex-sm-column flex-md-column flex-lg-row flex-column abt-blue">
												<div class="px-4 mb-4 mb-md-4 mb-lg-0 w-50">
														<h5>OUR MISSION</h5>
																<p class="text-justify">
																	To provide superior, proactive banking service to niche markets globally, while providing cost effective, responsive service to others in our role as a development bank, and in doing so, meet the requirements of our stakeholders.
																</p>
												</div>
												<div class="px-4 mb-4 mb-md-4 mb-lg-0 w-50">
														<h5>OUR VISION</h5>
																<p class="text-justify">
																	To become the bank of choice for corporates, medium business and upmarket retail customers and developmental banking for small business, mass market and rural markets.
																</p>
												</div>
								</div>
						</div>