<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About - CBS</title>
	<link rel="stylesheet" href="/static/styles/about.css">
	<link rel="stylesheet" href="/static/styles/navbar.css">
</head>

<body>
	<!-- nav/menu -->
	<nav class="navbar">
		<img class="logo" id="logo" src="/static/logo.png" alt="Continental Banking Site Logo" style="width: 150px; height: 50px;">
		<input class="menu-btn" type="checkbox" id="menu-btn" />
		<label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
		<!-- Menu-->
		<ul class="menu">
			<li><a href="/">Home</a></li>
			<li><a href="/Banks/About Us/">About us</a></li>
			<li><a href="/Banks/Contact/">Contact</a></li>
			<li><a href="/Banks/Help/">Help</a></li>
			<!-- {% if user.is_authenticated %}
			<li><a href="{% url 'logout' %}">Logout</a></li>
			{% else %}
			<li><a href="{% url 'login' %}">Login</a></li>
		  {% endif %} -->
		</ul>
	</nav>

	<!--body-->
	<section class="about" id="about">
		<div class="container">
			<h1>About Us</h1>
			<p>We are a team of developers who have created this website to help people find the best loan options
				available to them. Our platform allows users to access all the banks in one place, making it easier to
				compare loan interest rates and terms. Our goal is to make the loan application process as simple and
				straightforward as possible for our users.</p>

			<p>At our core, we believe in empowering people to make informed decisions when it comes to their finances.
				We believe that everyone should have access to the information they need to make the best financial
				decisions for themselves. With our platform, we aim to provide users with the transparency and
				information they need to make informed decisions about their loans.</p>

			<p>If you have any questions or feedback about our platform, please feel free to contact us at <a
					href="mailto:info@loanscompare.com">plpgroup24@gmail.com</a>.</p>

			<p>Thank you for using CBS!</p>
		</div>
	</section>

	<!-- footer -->
	<footer>
		<p>PLP Group 24 Project | All rights reserved. 2022 -
			<script>document.write(new Date().getFullYear());</script>
		</p>
	</footer>
</body>

</html>