
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Travello template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Africanecity Bank Loan</title>
	<link rel="stylesheet" href="/static/styles/index.css">
	<link rel="stylesheet" href="/static/styles/navbar.css">
    
</head>

<body>
 <!-- nav/menu -->
	<nav class="navbar">
		<a class="logo">Africanecity</a>
		<input class="menu-btn" type="checkbox" id="menu-btn" />
		<label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
		<!-- Menu-->
		<ul class="menu">
			<li><a href="/">Home</a></li>
			<li><a href="/Banks/About Us/">About us</a></li>
			<li><a href="/Banks/Contact/">Contact</a></li>
			<li><a href="/Banks/Help/">Help</a></li>
			{% if user.is_authenticated %}
			<li><a href="{% url 'logout' %}">Logout</a></li>
			{% else %}
			<li><a href="{% url 'login' %}">Login</a></li>
		  {% endif %}
		</ul>
	</nav>

    <div class="super_container">

        <!-- Header -->

        <header class="header">
            {% if user.is_authenticated %}
            <h5>Welcome,{{user.username | upper}} </h5>
            {% else %}
            <h5>You are not logged in</h5>
            {% endif %}
           
        </header>
        {% comment %} {% if user.is_authenticated %}
        <h5>Welcome,{{user.username | upper}} </h5>
        {% else %}
        <h5>You are not logged in</h5>
        {% endif %} {% endcomment %}

        {% block content %}

        {% endblock %}

        <!-- footer -->
        <footer>
            <p>PLP Group 24 Project | All rights reserved. 2022 -
                <script>document.write(new Date().getFullYear());</script>
            </p>
        </footer>
    </div>
    
</body>

</html>