<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contact - Africanecity</title>
	<link rel="stylesheet" href="/static/styles/contact.css">
	<link rel="stylesheet" href="/static/styles/navbar.css">
</head>

<body>
	<!-- nav/menu -->
	<nav class="navbar">
		<a class="logo">Africanecity</a>
		<input class="menu-btn" type="checkbox" id="menu-btn" />
		<label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
		<!-- Menu-->
		<ul class="menu">
			<li><a href="/">Home</a></li>
			<li><a href="/Banks/About Us/">About us</a></li>
			<li><a href="/Banks/Contact/">Contact</a></li>
			<li><a href="/Banks/Help/">Help</a></li>
			{% if user.is_authenticated %}
			<li><a href="{% url 'logout' %}">Logout</a></li>
			{% else %}
			<li><a href="{% url 'login' %}">Login</a></li>
			{% endif %}
		</ul>
	</nav>

	<!-- contact content-->
	<section class="contact" id="contact">
		<div class="container">
			<h1><b>Contact Us</h1>
			<form method="post">
				{% csrf_token %}
				<b><label for="name">Name:</label>
					<input type="text" id="name" name="name" required>
					<b><label for="email">Email:</label>
						<input type="email" id="email" name="email" required>
						{% comment %} <b><label for="subject">Subject:</label>
							<input type="text" id="subject" name="subject" required> {% endcomment %}
							<b><label for="message">Message:</label>
								<textarea id="message" name="message" required></textarea>
								<input type="submit" value="Send">
			</form>
		</div>
	</section>

	<!-- footer -->
	<footer>
		<p>PLP Group 24 Project | All rights reserved. 2022 -
			<script>document.write(new Date().getFullYear());</script>
		</p>
	</footer>
</body>

</html>