<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Help - Navigating the Platform</title>
  <link rel="stylesheet" href="/static/styles/help.css">
  <link rel="stylesheet" href="/static/styles/navbar.css">
</head>

<body>
  <!-- nav/menu -->
  <nav class="navbar">
    <img class="logo" id="logo" src="/static/logo.png" alt="Continental Banking Site Logo" style="width: 150px; height: 50px;">
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
    <!-- Menu-->
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/Banks/About Us/">About us</a></li>
      <li><a href="/Banks/Contact/">Contact</a></li>
      <li><a href="/Banks/Help/">Help</a></li>
    </ul>
  </nav>

  <!-- Help content --->
  <section class="help" id="help">
    <div class="container">
      <h2>Searching for Loans</h2>
      <p>To search for loans, click on the "Loan Search" button on the homepage. You will be directed to a page where
        you can enter your loan requirements, such as loan amount and preferred interest rate. Once you have entered
        your loan criteria, click on the "Search" button to view loan options from our partner banks.</p>
      <hr>
      <h2>Comparing Loan Options</h2>
      <p>Once you have searched for loans, you will be presented with a list of loan options from our partner banks. To
        compare loan options, you can use the sorting and filtering options on the page. You can sort the loan options
        by interest rate, loan amount, or loan term. You can also filter the loan options by bank or loan type. </p>
      <hr>
      <h2>Applying for a Loan</h2>
      <p>Once you have found a loan that meets your requirements, you can apply for the loan by clicking on the "Apply
        Now" button. You will be directed to the bank's website where you can complete the loan application process.</p>
      <hr>
      <h2>Contacting Support</h2>
      <p>If you have any questions or concerns about using our platform, please contact our support team by clicking on
        the <a href="/Banks/Contact Us/">"Contact Us"</a> button on the homepage. Our support team is available to
        assist you with any issues you may encounter while using our platform.</p>
    </div>
  </section>

  <!-- footer -->
  <footer>
    <p>PLP Group 24 Project | All rights reserved. 2022 -
      <script>document.write(new Date().getFullYear());</script>
    </p>
  </footer>
</body>

</html>