<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Africanecity Bank Loan</title>
</head>
<body>
    <nav class="navbar">
        <a class="logo">Africanecity Bank Loans</a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
        <ul class="menu">
          {% if user.is_authenticated %}
            <h1>Welcome,{{user.username | upper}} </h1>
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <h1>You are not logged in</h1>
            <a href="{% url 'login' %}">Login</a>
          {% endif %}
          <li><a href="#home"><img src="" class="" alt="home icon"> Home</a></li>
          <li><a href="#"><img src="" class="icon" alt="home icon"> Calculator</a></li>
          <li><a href="Accounts/login"><img src="" class="icon" alt="home icon"> Log in</a></li>
        </ul>
      </nav>
      {% include 'messaging.html' %}
</body>
</html>