{% load crispy_forms_tags %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}
<div class="container mt-3" style="width: 95%; font-size: 14px">
    <form method="POST" class="card p-3 mt-5" autocomplete="off">
        {% csrf_token %}
        <title> Loan Calculator</title>
        <center><h1> LOAN CALCULATOR</h1><center>
        <div class="row">
            <div class="col-6">
                {{ form.bank|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.personal_expenses|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.bank_features|as_crispy_field }}
            </div>
            <div class="col-6">
              {{ form.loan_amount|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.loan_period|as_crispy_field }}
            </div>
        </div>  
			      
      <center><button type="submit" class="btn btn-primary mt-3" style="width: 45%">Calculate</button></center>
    </form> 
</div>
{% endblock %}