{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Loan Features</title>
	<style>
		table {
			border-collapse: collapse;
			width: 100%;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
			text-align: center;
		}
		table th {
			background-color: #ccc;
			padding: 10px;
			border: 1px solid #ddd;
		}
		table td {
			padding: 10px;
			border: 1px solid #ddd;
		}
		bank_name {
			rowspan: 9;
			font-weight: bold;
			font-size: 20px;
		}
	</style>
</head>
<body>
	
	<table>
		<thead>
			{% for feature in features %}
			<tr>
				<th class='bank_name'>{{ feature.bankName }}</th>
			</tr>
			{% endfor %}
			<tr>
				<th>Minimum Amount</th>
				<th>Maximum Amount</th>
				<th>Low Interest Rate</th>
				<th>Illustration Rate</th>
				<th>Amount Borrowed</th>
				<th>Initiation Fee</th>
				<th>Monthly Service Fee</th>
				<th>Amount Payable</th>
				<th>Monthly Installment Amount</th>
			</tr>
		</thead>
		<tbody>
			{% for feature in features %}
			<tr>
				<td>{{ feature.min_amount }}</td>
				<td>{{ feature.max_amount }}</td>
				<td>{{ feature.low_interest_rate }}</td>
				<td>{{ feature.illustration_rate }}</td>
				<td>{{ feature.amount_borrowed }}</td>
				<td>{{ feature.initiation_fee }}</td>
				<td>{{ feature.monthly_service_fee }}</td>
				<td>{{ feature.amount_payable }}</td>
				<td>{{ feature.monthly_installment_amount }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>


