{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Continental Banking Site</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
	<link rel="stylesheet" href="/static/styles/navbar.css">
	  <!-- javascript link -->
	  <script type="module" src="{% static 'js/login.js' %}" defer></script>
</head>

<body>
    <!-- nav/menu -->
	<nav class="navbar">
		<img class="logo" id="logo" src="{% static 'CBS-Logo.png' %}" alt="Continental Banking Site Logo">
		<input class="menu-btn" type="checkbox" id="menu-btn" />
		<label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
		<!-- Menu-->
		<ul class="menu">
			<li><a href="/">Home</a></li>
			<li><a href="/Banks/About Us/">About us</a></li>
			<li><a href="/Banks/Contact/">Contact</a></li>
			<li><a href="/Banks/Help/">Help</a></li>
		</ul>
	</nav>
	<!-- end of nav/menu -->

    <!-- home section starts here -->
    <section class="home" id="home">
        <div class="content">
            <h1>Continental <h2>Banking Site</h2></h1>
            <p>Making Banking Easier Across The African Continent. Check If You Qualify For A Loan, Find Out Which Bank Offers The Best Rates, And Determine How Much You Can Borrow – All Without Any Hassle Of Going Through Paperwork Or Waiting In Queues.</p>
            <p>Get Everything Done From The Comfort Of Your Own Home. Before you get started, learn how it works by clicking the button below.</p>
			<a href="/Banks/Help/" class="btn">Help</a>
        </div>
		
		<div class="form" id="form">
            <div id="create-account" class="login_container">
                <h1>Sign Up below</h1>
				<form method="post" autocomplete="off">
					{% csrf_token %}
					{% if messages %}
						{% for message in messages %}
							<h2 class="error">{{message}}</h2>
						{% endfor %}
					{% endif %}
					<input id="email_signUp" name="email" type="email" placeholder="Email">
					<input id="username" name="username" type="text" placeholder="Username">
					<input id="password1" name="password1" type="password" placeholder="Password">
					<input id="password2" name="password2" type="password" placeholder="Confirm Password">
					<button id="Register_btn" type="submit">Sign Up</button>
					<center><a id="return_btn" href="{% url 'login' %}">Already have an account</a></center>
				</form>
            </div>
        </div>

    </section>
    <!-- home section ends here -->
	<!-- footer -->
	<footer>
		<p>PLP Group 24 Project | All rights reserved. 2022 -
			<script>document.write(new Date().getFullYear());</script>
		</p>
	</footer>
</body>
</html>