*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* help body content */
.help{
    padding-top: 90px;
    padding-bottom: 30px;
    min-height: 500px;
    background: url("/static/images/help.avif") no-repeat center;
    background-size: cover;
    background-color: rgb(69, 93, 226);
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
    background-color:rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    font-size: 50px;
}
p {
    font-size: 18px;
    line-height: 1;
    color: #666666;
    margin-bottom: 20px;
}
h2 {
    font-size: 20px;
    color: #333333;
    margin-top: 0;
    text-align: left;
}
