h5 {
    margin-bottom: -29px;
    /* padding-top: 80px; */
}
.home_slider_container .background_image
{
	background-image: url('/static/images/home_slider.jpg');
}
/* .right{

} */
/* p{
    padding-top: 50px;
} */